# Зависимости
node_modules

# Git и хуки
.git
.gitignore
.husky

# Docker
Dockerfile
compose.yml

# Сборка
dist
build

# Тесты
coverage
.nyc_output

# IDE
.vscode
.idea
*.swp
*.swo

# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Переменные окружения
.env
.env.*
!.env.example

# CI/CD
.github
.gitlab-ci.yml
.gitlab

# Линтеры и форматтеры
.stylelintrc.json
.eslintrc
.eslintrc.*
.prettierrc
.prettierrc.*
.editorconfig

# Документация
*.md
