.footer {
  padding: 16px;
  background-color: var(--colors-bg-primary);
  display: flex;
  align-items: center;
  gap: 32px;

  &__effects {
    flex: 1 1 auto;
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    // width: 100%;
    overflow: auto;
    scrollbar-color: var(--colors-ui-secondary) var(--colors-bg-primary);
    padding-bottom: 10px;
    margin-bottom: -10px;
  }

  &__sketch {
    height: 282px;
    width: 350px;
    // width: 100%;
  }
}