.footer {
  padding: 16px;
  background-color: var(--colors-bg-primary);
  display: flex;
  align-items: center;
  gap: 32px;

  &__effects {
    flex: 1 1 auto;
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.footer__effects > div {
  transition: transform 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}