.drawable-field {
  display: flex;
  width: fit-content;
  height: fit-content;
  // width: 2000px;
  // height: 2000px;
  position: relative;

  &__field {
    background: none;
    border: none;
    padding: 0;
  }
}