.Knob__element{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.Knob__bt{
  background-color: transparent;
  border: none;
  height: 80px;
  width: 80px;
  padding: 0;

  .icon{
    height: 100%;
    width: 100%;
  }
}



