.knob {
  &__element{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  &__bt{
    background-color: transparent;
    border: none;
    height: 70px;
    width: 70px;
    padding: 0;
    margin-bottom: -10px;
  }

  &__icon{
    height: 100%;
    width: 100%;

    &:hover * {
      stroke: var(--colors-ui-primary);
    }

    &:active line {
      stroke: var(--colors-ui-accent);
    }
  }
}

.knob__name {
  color: var(--colors-text-primary);
  font-size: 17px;
}