.sketch  {
  border-radius: var(--border-radius-s);
  outline: solid 6px var(--colors-bg-primary);
  background: linear-gradient(#011d33 0%, #ed006f42 65%);
}

.sketch__line {
  filter: drop-shadow(0 -10px 20px #e467ad);
}
