.effects-sidebar {
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  transition: width 0.3s ease;
  width: var(--sidebar-width);

  &__container {
    padding: 24px 8px 0 24px;
  }
}