.vertical-piano {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__key {
    height: var(--height);
    width: 100%;
    text-align: left;
    padding-left: 15px;

    &-black {
      background-color: #000;
      color: #fff;

      &:active, &--active {
        background-color: #555;
      }
    }
    &-white:active, &-white--active {
      background-color: #bbb;
    }
  }
}