.header {
  color: var(--colors-text-primary);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  column-gap: 2.5rem;
  width: 100%;
  box-sizing: border-box;

  &__left {
    display: flex;
    gap: 1.2rem;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }

  &__logo {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
  }

  &__project-name-container {
    cursor: pointer;
    min-height: 1.6rem;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    transition: background-color 0.2s ease;

    &_hover-enabled:hover {
      background-color: #FFFFFF1A;
    }

    &_editable {
      cursor: text;
      background-color: #FFFFFF1A;
    }
  }

  &__project-name {
    font-family: var(--lato);
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  &__project-input {
    background: none;
    border: none;
    color: var(--colors-text-primary);
    font-family: var(--lato);
    font-size: 1rem;
    outline: none;
    padding: 0.2rem 0.4rem;
    margin: 0;
    width: 10rem;
    text-align: center;
    transition: all 0.2s ease;
  }

  &__controls {
    display: flex;
    gap: 1.8rem;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
  }

  &__settings {
    color: var(--colors-text-primary);
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  &__button {
    margin: 0;
    display: flex;
    justify-content: center;
    background: none;
    border: none;
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    color: var(--colors-text-primary);
  }

  &__icon-pause {
    width: 2.5rem;
  }

  &__inputs {
    display: flex;
    gap: 1rem;
  }

  &__input-form {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--colors-ui-tertiary);
  }

  &__input {
    color: var(--colors-text-primary);
    background-color: var(--colors-bg-secondary);
    font-size: 1rem;
    border: none;
    border-radius: 0.4rem;
    max-width: 2rem;
    padding: 0.3rem 0.6rem;
    text-align: center;
    margin-left: 0.8rem;
  }

  &__left-item {
    width: fit-content;
    position: relative;
  }

  &__left-button {
    background: none;
    padding: 0;
    border: none;
    color: var(--colors-text-secondary);
    font-size: 1.2rem;

    transition: color 0.1s ease;

    &:hover:not(&_active) {
      color: var(--colors-ui-primary);
    }

    &:active,
    &_active {
      color: var(--colors-ui-accent);
    }
  }

  &__left-button-modal {
    top: 2rem;
    left: 0;
    min-width: 8.5rem;
    z-index: 50;
  }

  &__second_left-item {
    width: fit-content;
    position: relative;
  }

  &__second_left-button {
    background: none;
    padding: 0;
    border: none;
    color: var(--colors-text-secondary);
    font-size: 1.2rem;

    transition: color 0.1s ease;

    &:hover:not(&_active) {
      color: var(--colors-ui-primary);
    }

    &:active,
    &_active {
      color: var(--colors-ui-accent);
    }
  }

  &__second_left-button-modal {
    top: 2rem;
    left: 0;
    min-width: 8.5rem;
    z-index: 50;
  }

  &__right-button-modal {
    top: 2.5rem;
    right: 0;
    min-width: 8.5rem;
    z-index: 50;
  }

  &__inputs-left-button-sub-modal {
    width: 14rem;
  }

  &__left-button-sub-modal {
    top: 0;
    left: 100%;
    margin-left: 1rem;
    min-width: 8.5rem;
  }

  &__right_profile {
    background: transparent;
    display: flex;
    border: none;
    color: var(--colors-text-primary);
    gap: 0.8rem;
    cursor: pointer;
  }

  &__right_avatar {
    outline: 0.1rem solid #041d32;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.5rem;
  }

  &__right_username {
    font-family: var(--lato-medium);
    font-size: 1rem;
  }
}

.modal__hotkey {
  color: #888;
  font-size: 0.6rem;
  margin-left: 0.4rem;
}
