.time-stripe {
  // height: 0;
  width: 100%;
  &__stripe {
    height: 30px;
    width: fit-content;
  }
  
  &__timeline {
    position: absolute;
    pointer-events: none;
    transform: translateX(var(--x));
    z-index: 1000;
    height: 100dvh;
  }

  &__wrap {
    position: sticky;
    top: 0;
    left: 200px;
  }

  &_animated &__timeline {
    transition-duration: var(--anim-time);
    transition-property: transform;
    transition-timing-function: linear;
  }
}