.instrument-layout {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;

  &__header {
    position: relative;
    z-index: 10;
    padding: 20px;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  &__outlet {
    width: 80%;
    position: relative;
  }

  &__sidebar {
    width: 20%;
    position: relative;
    z-index: 5; 
  }
}