body {
  margin: 0;
  width: 100vw;
  // height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colors-bg-primary);
}

@font-face {
  font-family: roboto-regular;
  src: url("/fonts/roboto/roboto-regular.woff2");
  font-display: fallback;
}

@font-face {
  font-family: roboto-medium;
  src: url("/fonts/roboto/roboto-medium.woff2");
  font-display: fallback;
}

:root {
  --roboto-regular: roboto-regular, sans-serif;
  --roboto-medium: roboto-medium, sans-serif;

  --colors-bg-primary: #030918;
  --colors-bg-secondary: #001629;
  --colors-bg-white: #D9D9D9;
  --colors-text-primary: #FFFFFF;
  --colors-text-secondary: #CACACA;
  --colors-ui-primary: #FFFFFF;
  --colors-ui-secondary: #2C4B65;
  --colors-ui-tertiary: #9AA3AB;
  --colors-ui-accent: #FF16FF;
}

* {
  font-family: var(--roboto-regular);
  margin: 0;
  font-size: 20px;
}

h1 {
  font-weight: 400;
  font-family: var(--roboto-medium);
  font-size: 24px;
}

h2 {
  font-weight: 400;
  font-family: var(--roboto-medium);
  font-size: 20px;
}

h3 {
  font-weight: 400;
  font-family: var(--roboto-medium);
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}