body {
  margin: 0;
  width: 100vw;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colors-bg-primary);
}

@font-face {
  font-family: roboto-regular;
  src: url('/fonts/roboto/roboto-regular.woff2');
  font-display: fallback;
}

@font-face {
  font-family: roboto-medium;
  src: url('/fonts/roboto/roboto-medium.woff2');
  font-display: fallback;
}

@font-face {
  font-family: lato-medium;
  src: url('/fonts/lato/lato-medium.woff2');
  font-display: fallback;
}

:root {
  --roboto-regular: roboto-regular, sans-serif;
  --roboto-medium: roboto-medium, sans-serif;
  --lato-medium: lato-medium, sans-serif;

  --colors-bg-primary: #030918;
  --colors-bg-secondary: #001629;
  --colors-bg-white: #d9d9d9;
  --colors-text-primary: #ffffff;
  --colors-text-secondary: #cacaca;
  --colors-ui-primary: #ffffff;
  --colors-ui-secondary: #2c4b65;
  --colors-ui-tertiary: #9aa3ab;
  --colors-ui-accent: #ff16ff;
}

* {
  font-family: var(--roboto-regular);
  margin: 0;
  font-size: 20px;
}

h1 {
  font-weight: 400;
  font-family: var(--roboto-medium);
  font-size: 50px;
}

h2 {
  font-weight: 400;
  font-family: var(--roboto-medium);
  font-size: 32px;
}

h3 {
  font-weight: 400;
  font-family: var(--roboto-medium);
  font-size: 28px;
}

ul {
  list-style: none;
  padding: 0;
}
